* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-image: url("../assets/motherboard1.jpg");
  //* Image by rawpixel.com/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: $background;
  overflow-x: hidden;
}

.bodyWrapper {
  max-width: 1280px;
  width: 85%;
  margin: 20px auto;
  background-color: $backgroundAccent;
  position: relative;
  overflow-x: hidden;
}
