.projects {
    align-self: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projects h2 {
    font-size: 1.5rem;
}

.projectBox {
    display: flex;
    justify-content: space-evenly;
    .project1, .project2, .project3 {
        width: 30%;
        background-color: $background;
        border: 1px solid rgba($backgroundAccent, 0.7);
        padding: 10px;
        .projectTitle {
                display: flex;
                justify-content: space-between;
        
                h5 {
                    color: $underScore;
                }
        
                p {
                    color: $fadedHeader;
                }
            }
        
            a {
                background-color: $underScore;
                color: $background;
                margin: 0 auto;                
            }
        }
}