.featured-projects {
  padding: 50px 0;
}
h2 {
  padding-left: 50px;
  font-size: 1.5rem;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.project-card {
  width: 60%;
  padding: 20px 0;
  .imgPopOut > img {
    max-width: 100%;
    height: auto;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
    a {
      padding: 5px;
      text-decoration: none;
      background-color: $background;
      color: $underScore;
      text-align: center;
      &:hover {
        background-color: $underScore;
        color: $background;
      }
    }
  }
}
