.featured-projects {
  text-align: center;
  padding: 20px 0;
}
.project-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px;
}

.project {
  width: 100%;
  height: 450px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 400px;
  perspective: 1000px;
  position: relative;
  width: 300px;
  margin: 0 20px;
}

.flip-card-inner {
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flip-card-front {
  transform: rotateY(0deg);
  z-index: 1;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.projectSummary {
  height: 100%;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectSummary h2 {
  font-size: 28px;
  margin-bottom: 0;
}

.projectSkills p {
  margin: 0;
}

.linksBox {
  display: flex;
  justify-content: space-between;
}

.linksBox a {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 45%;
}

.imgPopOut {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.imgPopOut img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
