$font: 'fira code';

$background: #011627;
$backgroundAccent: #1E2D3D;
$fadedHeader: #607B96;
$highlightHeader: #E5E9F0;
$h3: #596aea;
$https: #E99287;
$links: #43D9AD;
$underScore: #FEA55F;
$accentFont: #ffff00;
