$font: "fira code";
$comments: #57a64a;
$background: #011627;
$backgroundAccent: #1e2d3d;
$fadedHeader: #607b96;
$highlightHeader: #e5e9f0;
$h3: #a5b2fe;
$https: #e99287;
$links: #43d9ad;
$underScore: #fea55f;
$accentFont: #ffff00;
