html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "fira code";
  font-size: 1rem;
  font-weight: lighter;
}

h1 {
  text-align: center;
  font-size: 1rem;
  color: #607b96;
  margin: 0;
  padding: 10px 0;
}

h2, h3, h4, h5 {
  text-align: left;
  color: #e5e9f0;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  color: #a5b2fe;
}

h5 {
  font-size: 1.2rem;
}

p {
  color: #e5e9f0;
  font-weight: 300;
  font-size: 1rem;
}

span {
  display: block;
  color: rgba(165, 178, 254, 0.7);
}

em {
  display: inline;
  border-style: none;
  color: rgba(165, 178, 254, 0.7);
}

ul, ol {
  list-style: none;
}

ol {
  padding-right: 10px;
  border-right: 1px solid #e5e9f0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #607b96;
  border: none;
}

i {
  font-size: 1.5rem;
  color: #e5e9f0;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url("../assets/motherboard1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #011627;
  overflow-x: hidden;
}

.bodyWrapper {
  max-width: 1280px;
  width: 85%;
  margin: 20px auto;
  background-color: #1e2d3d;
  position: relative;
  overflow-x: hidden;
}

.logo {
  background-color: #1e2d3d;
}

.navTag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #011627;
  text-align: center;
}
.navTag ul li {
  padding: 10px 0;
  width: 175px;
  color: #607b96;
}
.navTag ul li a:hover,
.navTag ul li :focus,
.navTag ul li :active {
  border-top: 1px solid #fea55f;
  color: #fea55f;
}

.burgerContainer {
  display: none;
}

.hello {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hello .textBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hello .continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hello .continue .lead {
  font-size: 1.2rem;
}
.hello .typewrite {
  position: relative;
  font-size: 1.5rem;
  color: #fea55f;
}
.hello .typewrite::after {
  content: "";
  width: 1px;
  border-right: 2px solid #e5e9f0;
  height: 100%;
  margin-left: 10px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hello .helloProjectBox {
  width: 50%;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.hello .helloProjectBox .helloProject1,
.hello .helloProjectBox .helloProject2,
.hello .helloProjectBox .helloProject3 {
  grid-column: 1/3;
  grid-row: 1/3;
  place-self: center;
  background-color: #011627;
  border: 1px solid rgba(96, 123, 150, 0.5);
  padding: 10px;
}
.hello .helloProjectBox .helloProject1 {
  position: relative;
  top: 0;
}
.hello .helloProjectBox .helloProject2 {
  position: relative;
  top: -40px;
  right: -20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #1e2d3d), color-stop(35%, #607b96), color-stop(10%, #1e2d3d));
  background: linear-gradient(top, #1e2d3d 55%, #607b96 35%, #1e2d3d 10%);
}
.hello .helloProjectBox .helloProject3 {
  position: relative;
  top: -80px;
  right: -40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #1e2d3d), color-stop(35%, #607b96), color-stop(5%, #1e2d3d));
  background: linear-gradient(top, #1e2d3d 60%, #607b96 35%, #1e2d3d 5%);
}
.hello .helloProjectBox .projectTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hello .helloProjectBox .projectTitle h5 {
  color: #fea55f;
}
.hello .helloProjectBox .projectTitle p {
  color: #607b96;
}
.hello .helloProjectBox a {
  background-color: #fea55f;
  color: #011627;
}

.aboutMe {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: #e5e9f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #011627;
  border: 1px solid rgba(96, 123, 150, 0.7);
  padding: 20px;
}

.skills {
  width: 45%;
  padding: 20px 0;
}

.fa-folder-open {
  color: #fea55f;
}

.profile {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro {
  margin-left: 10px;
  line-height: 1.2rem;
}
.intro p {
  color: #57a64a;
}

.featured-projects {
  text-align: center;
  padding: 20px 0;
}

.project-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 20px;
}

.project {
  width: 100%;
  height: 450px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.flip-card {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 600px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: relative;
  width: 800px;
  margin: 0 20px;
}

.flip-card-inner {
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flip-card-front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 1;
}

.flip-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projectSummary {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.projectSummary h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.projectDescription {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.projectLanguages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectLanguages img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.projectLanguages img:last-child {
  margin-right: 0;
}

.projectLanguages img[title=HTML5] {
  -webkit-filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
          filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
}

.projectLanguages img[title=CSS3] {
  -webkit-filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
          filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
}

.projectLanguages img[title=Git] {
  -webkit-filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
          filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
}

.projectLanguages img[title=React] {
  -webkit-filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
          filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
}

.projectLanguages img[title=Firebase] {
  -webkit-filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
          filter: invert(56%) sepia(23%) saturate(3441%) hue-rotate(157deg) brightness(94%) contrast(102%);
}

.linksBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.linksBox a {
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  width: 45%;
}

.imgPopOut {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.imgPopOut img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.getInTouch {
  background-color: #011627;
  min-height: 100vh;
  padding-top: 150px;
}
.getInTouch h2 {
  padding-top: 50px;
  font-size: 1.5rem;
}

.contact {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  width: 50%;
}
form label {
  color: #e5e9f0;
  padding: 10px 0;
}
form input,
form textarea {
  padding: 10px 0 10px 5px;
}
form button {
  margin-left: 15px;
  padding: 10px;
  background-color: #fea55f;
  color: #011627;
}
form button :hover,
form button :focus {
  background-color: #011627;
  color: #fea55f;
  cursor: pointer;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 350px;
  background-color: #011627;
  padding: 10px;
}
aside ol {
  color: #e5e9f0;
}
aside article {
  margin-left: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
aside article p {
  display: inline;
}
aside .const {
  color: h3;
}
aside .htmlEl {
  color: #e99287;
}
aside .jsMethod {
  color: #43d9ad;
}
aside .key {
  color: #ffff00;
}

footer {
  position: sticky;
  bottom: 0;
  border: 1px solid rgba(96, 123, 150, 0.7);
  padding: 10px 0;
  background-color: #1e2d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerFindMe {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 20px;
}
footer .footerFindMe p {
  padding-right: 10px;
}
footer .footerText {
  padding-right: 20px;
}

.mobileNavBar {
  background-color: #011627;
  width: 100%;
  height: 100vh;
}

.mobileNavBar ul {
  list-style-type: none;
  padding-top: 100px;
  margin: 0;
}

.mobileNavBar li a {
  display: block;
  margin: 0;
  padding: 50px 50px;
  width: 100%;
}

.mobileNavBar li a:hover,
.mobileNavBar li a:focus {
  cursor: pointer;
  background-color: #1e2d3d;
  color: #fea55f;
}

.mobileNavBar li a {
  color: #607b96;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hamburger {
  margin: 20px;
  display: none;
  padding: 10px;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: rgba(254, 165, 95, 0.8);
  border-radius: 50%;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #011627;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

.burgerContainer.active {
  display: block;
  -webkit-animation: fade 0.5s;
          animation: fade 0.5s;
}

@-webkit-keyframes fade {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@media (max-width: 860px) {
  .hello {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hello .textBox {
    width: 100%;
    height: 100vh;
  }
  .hello .helloProjectBox {
    width: 100%;
    height: 100vh;
  }
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .skills,
  .profile {
    width: 100%;
  }
}
@media (max-width: 740px) {
  .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectBox .project1,
  .projectBox .project2,
  .projectBox .project3 {
    width: 80%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form,
  .contact aside {
    width: 100%;
    margin-bottom: 20px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerFindMe {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footerText {
    padding-right: 0;
    text-align: center;
  }
}
@media (max-width: 680px) {
  .bodyWrapper {
    width: 100%;
    margin-top: 0;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .hamburger {
    display: block;
  }
  .navTag {
    display: none;
  }
  .hello {
    width: 90%;
  }
  .hello .helloProjectBox .helloProject2,
  .hello .helloProjectBox .helloProject3 {
    right: 0;
  }
}
@media (max-width: 390px) {
  .prev,
  .next {
    background-color: transparent;
  }
  .projectSkills {
    width: 85vw;
  }
  .footerFindMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerFindMe p {
    text-align: center;
  }
  .footerFindMe .footerLinks {
    -ms-flex-item-align: center;
        align-self: center;
  }
}