html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "fira code";
  font-size: 1rem;
  font-weight: lighter;
}

h1 {
  text-align: center;
  font-size: 1rem;
  color: #607B96;
  margin: 0;
  padding: 10px 0;
}

h2, h3, h4, h5 {
  text-align: left;
  color: #E5E9F0;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  color: #4D5BCE;
}

h5 {
  font-size: 1.2rem;
}

p {
  color: #E5E9F0;
  font-weight: 300;
  font-size: 1rem;
}

span {
  display: block;
  color: rgba(77, 91, 206, 0.7);
}

em {
  display: inline;
  border-style: none;
  color: rgba(77, 91, 206, 0.7);
}

ul, ol {
  list-style: none;
}

ol {
  padding-right: 10px;
  border-right: 1px solid #E5E9F0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #607B96;
  border: none;
}

i {
  font-size: 1.5rem;
  color: #E5E9F0;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url("../assets/motherboard1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #011627;
}

.bodyWrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
  background-color: #1E2D3D;
  margin-top: 20px;
}

.navTag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #011627;
  text-align: center;
}
.navTag li {
  padding: 10px 0;
  width: 175px;
  color: #607B96;
}
.navTag li a:hover, .navTag li :focus, .navTag li :active {
  border-top: 1px solid #FEA55F;
  color: #FEA55F;
}

.burgerContainer {
  display: none;
}

.hello {
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hello .textBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.hello .helloProjectBox {
  width: 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.hello .helloProjectBox .helloProject1,
.hello .helloProjectBox .helloProject2,
.hello .helloProjectBox .helloProject3 {
  grid-column: 1/3;
  grid-row: 1/3;
  place-self: center;
  background-color: #011627;
  border: 1px solid rgba(96, 123, 150, 0.5);
  padding: 10px;
}
.hello .helloProjectBox .helloProject1 {
  position: relative;
  top: 0;
}
.hello .helloProjectBox .helloProject2 {
  position: relative;
  top: -40px;
  right: -20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #1E2D3D), color-stop(35%, #607B96), color-stop(10%, #1E2D3D));
  background: linear-gradient(top, #1E2D3D 55%, #607B96 35%, #1E2D3D 10%);
}
.hello .helloProjectBox .helloProject3 {
  position: relative;
  top: -80px;
  right: -40px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #1E2D3D), color-stop(35%, #607B96), color-stop(5%, #1E2D3D));
  background: linear-gradient(top, #1E2D3D 60%, #607B96 35%, #1E2D3D 5%);
}
.hello .helloProjectBox .projectTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hello .helloProjectBox .projectTitle h5 {
  color: #FEA55F;
}
.hello .helloProjectBox .projectTitle p {
  color: #607B96;
}
.hello .helloProjectBox a {
  background-color: #FEA55F;
  color: #011627;
}

.aboutMe {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: #E5E9F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #011627;
  border: 1px solid rgba(96, 123, 150, 0.7);
  padding: 20px;
}

.skills {
  width: 45%;
  height: 80vh;
}

.profile {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro {
  margin-left: 10px;
  line-height: 1.2rem;
}

.slideshowContainer {
  height: 100vh;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #1E2D3D;
}

.slideshowContainer h2 {
  font-size: 1.5rem;
}

.mySlides {
  -ms-flex-item-align: center;
      align-self: center;
  display: none;
  background-color: #011627;
  padding: 30px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -10px;
  padding: 20px;
  color: #E5E9F0;
  background-color: #011627;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.prev:focus,
.next:hover,
.next:focus {
  background-color: #FEA55F;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.mySlides .projectTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mySlides h5 {
  color: #FEA55F;
}
.mySlides p {
  margin: 10px 0;
  color: #607B96;
  line-height: 1.2rem;
}
.mySlides a {
  background-color: #FEA55F;
  color: #011627;
  margin: 0 auto;
  padding: 5px;
}

.getInTouch {
  background-color: #011627;
  min-height: 100vh;
}
.getInTouch h2 {
  padding-top: 50px;
  font-size: 1.5rem;
}

.contact {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  width: 50%;
}
form label {
  color: #E5E9F0;
  padding: 10px 0;
}
form input,
form textarea {
  padding: 10px 0 10px 5px;
}
form button {
  margin-left: 15px;
  padding: 10px;
  background-color: #FEA55F;
  color: #011627;
}
form button :hover,
form button :focus {
  background-color: #011627;
  color: #FEA55F;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 350px;
  background-color: #011627;
  padding: 10px;
}
aside ol {
  color: #E5E9F0;
}
aside article {
  margin-left: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
aside article p {
  display: inline;
}
aside .const {
  color: h3;
}
aside .htmlEl {
  color: #E99287;
}
aside .jsMethod {
  color: #43D9AD;
}
aside .key {
  color: #ffff00;
}

footer {
  position: sticky;
  bottom: 0;
  border: 1px solid rgba(96, 123, 150, 0.7);
  padding: 10px 0;
  background-color: #1E2D3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerFindMe {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 20px;
}
footer .footerFindMe p {
  padding-right: 10px;
}
footer .footerText {
  padding-right: 20px;
}

.navBar {
  background-color: #011627;
  width: 100%;
  height: 100vh;
  display: none;
}

.navBar ul {
  overflow: hidden;
  list-style-type: none;
  padding-top: 50%;
  margin: 0;
}

.navBar li {
  display: block;
  margin: 0;
  padding: 50px 50px;
  width: 100%;
}

.navBar li:hover {
  cursor: pointer;
  background-color: #1E2D3D;
}

.navBar li a {
  color: #607B96;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navBar li a:hover {
  color: #FEA55F;
}

.hamburger {
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 0;
  float: left;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #011627;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  background-color: #FEA55F;
}

.hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

.navBar.active {
  display: block;
  -webkit-animation: fade 0.5s;
          animation: fade 0.5s;
}

@keyframes fade {
  from {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@media (max-width: 860px) {
  .hello {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hello .textBox {
    width: 100%;
    height: 100vh;
  }
  .hello .helloProjectBox {
    width: 100%;
    height: 100vh;
  }
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills, .profile {
    width: 100%;
    height: auto;
    overflow: scroll;
  }
}
@media (max-width: 740px) {
  .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectBox .project1, .projectBox .project2, .projectBox .project3 {
    width: 80%;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form, .contact aside {
    width: 100%;
    margin-bottom: 20px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerFindMe {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footerText {
    padding-right: 0;
    text-align: center;
  }
}
@media (max-width: 680px) {
  .burgerContainer {
    display: block;
  }
  .navTag {
    display: none;
  }
}
@media (max-width: 390px) {
  .bodyWrapper {
    width: 100%;
    margin-top: 0;
  }
  article {
    overflow: scroll;
  }
  .footerFindMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerFindMe p {
    text-align: center;
  }
  .footerFindMe .footerLinks {
    -ms-flex-item-align: center;
        align-self: center;
  }
}